<!DOCTYPE html>
{% load static %}

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <link rel="stylesheet" href="{% static 'style/HTML5 Doctor CSS Reset.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <header>
        <h1>
            GroundMenu
        </h1>
    </header>
    <div class="wrapper--h-center_v-center">
        <form class="form" action="login.html" method="post">
            <h2>ログイン</h2>
            <h4>メールアドレス</h4>
            <input type="email" name="email" class="text_box" placeholder="メールアドレス">
            <h4>パスワード</h4>
            <input type="password" name="password" class="text_box" placeholder="パスワード">
            <button type="submit" name="" value="login.html" class="submit_button">ログイン</button>
        </form>
    <a class="link--secondary" href="registration.html">新規登録へ</a>
    </div>
    
</body>
</html>

